.register-container {
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-container .content {
  width: 100%;
  padding: 9.6rem;
  background: #f0f0f5;
  box-shadow: 0 0 10rem rgba(0,0,0,0.1);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.register-container .content > a {
  display: none;
}

.register-container .content section {
  width: 100%;
  max-width: 380px;
  padding-right: 1rem;
}

.register-container .content section h1 {
  margin: 6.4rem 0 3.2rem;
  font-size: 3.2rem;
}

.register-container .content section p {
  font-size: 1.8rem;
  color: #737380;
  line-height: 3.2rem;
}

.register-container .content form {
  width: 100%;
  max-width: 450px;
}

.register-container .content form input {
  margin-top: 0.8rem;
}

.register-container .content form .input-group {
  display: flex;
}

.register-container .content form .input-group input + input {
  margin-left: 0.8rem;
}

.register-container .logo {
  width: 100%;
  max-width: 250px;
}

@media (max-width: 906px) {
  .register-container .content section h1 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}

@media (max-width: 750px) {
  .register-container .content section h1 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .register-container .logo {
    width: 75%;
  }
}

@media (max-width: 620px) {
  .register-container .content {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .register-container .content section {
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .register-container .content section h1 {
    display: none;
  }

  .register-container .content section p {
    margin-top: 2rem;
    text-align: center;
  }

  .register-container .content section > a {
    display: none;
  }

  .register-container .content > a {
    display: inline-block;
  }
}

@media (max-width: 580px) {
  .register-container .content section p {
    font-size: 1.6rem;
  }
}

@media (max-width: 538px) {
  .register-container .content section p {
    font-size: 1.4rem;
  }
}

@media (max-width: 496px) {
  .register-container .content section p {
    display: none;
  }

  .register-container .content form {
    margin-top: 2rem;
  }
}

@media (max-width: 458px) {
  .register-container {
    padding: 0 1rem;
  }

  .register-container .content {
    padding: 2rem;
  }

  .register-container .content a {
    display: inline-block;
    margin-top: 2rem;
    font-size: 1.6rem;
  }
}