@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  background: #f0f0f5;
  -webkit-font-smoothing: antialiased;
}

input, button, textarea {
  font-size: 1.8rem;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

button {
  cursor: pointer;
}

form input {
  width: 100%;
  height: 60px;
  color: #333;
  border: 1px solid #dcdce6;
  border-radius: 8px;
  padding: 0 2.4rem;
}

form textarea {
  width: 100%;
  resize: vertical;
  min-height: 140px;
  color: #333;
  border: 1px solid #dcdce6;
  border-radius: 8px;
  padding: 1.6rem 2.4rem;
  line-height: 2.4rem;
}

.button {
  width: 100%;
  height: 60px;
  background: #e02041;
  border: 0;
  border-radius: 8px;
  color: #fff;
  font-weight: 700;
  margin-top: 1.6rem;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 1.8rem;
  line-height: 6rem;
  transition: filter .2s;
}

.button:hover {
  filter: brightness(90%);
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.back-link {
  display: flex;
  align-items: center;
  margin-top: 4rem;
  color: #41414d;
  font-size: 1.8rem;
  text-decoration: none;
  font-weight: 500;
  transition: opacity .2s;
}

.back-link svg {
  margin-right: 0.8rem;
}

.back-link:hover {
  opacity: 0.8;
}